@charset "UTF-8";
/* CSS Document */

.fce{
	overflow:auto;
	}

/*fce sammler*/
.collector{
	width:100%;
	overflow:auto;
	}
/*fce sammler END*/

/*fce col30-70*/
.col30_70 .sp1{
	width:30%;
	float:left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-right:1%;
	}
.col30_70 .sp2{
	width:70%;
	float:left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-left:1%;
	}
/*fce col30-70 END*/


/*fce col70-30*/
.col70_30 .sp1{
	width:70%;
	float:left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-right:1%;
	}
.col70_30 .sp2{
	width:30%;
	float:left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-left:1%;
	}
/*fce col70-30 END*/


/*fce col40-60*/
.col40_60 .sp1{
	width:40%;
	float:left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-right:1%;
	}
.col40_60 .sp2{
	width:60%;
	float:left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-left:1%;
	}
/*fce col40-60 END*/


	
/*fce col2*/
.col2 > DIV{
	width:50%;
	float:left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	}
.col2 .sp1{
	padding-right:1%;
	}
.col2 .sp2{
	padding-left:1%;
	}
/*fce col2 END*/	


/*fce col3*/
.col3 > DIV{
	width:33.333%;
	float:left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	}
.col3 .sp1{
	padding-right:1%;
	}
.col3 .sp2{
	padding-left:0.5%;
	padding-right:0.5%;
	}
.col3 .sp3{
	padding-left:1%;
	}
/*fce col3 END*/	


/*fce col4*/
.col4 > DIV{
	width:25%;
	float:left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	}
.col4 .sp1{
	padding-right:1%;
	}
.col4 .sp2{
	padding-left:0.5%;
	padding-right:0.5%;
	}
.col4 .sp3{
	padding-left:0.5%;
	padding-right:0.5%;
	}
.col4 .sp4{
	padding-left:1%;
	}
/*fce col4 END*/


/*TOGGLEBOX*/
.toggle_ce h1{
	margin:0px;
	padding:0px;
	}
.toggle_ce {
margin:0;
}
.toggle_ce .togglebox {
display:none;
}
.toggle_ce .toggler {
cursor:pointer;
}
.toggle_ce .close {
display:none;
}
.toggle_ce .opened .close {
display:block;
}
.toggle_ce .opened .open {
display:none;
}
.togglebox p{
	margin:0px;
	}
.toggler{
	display:inline-block;
	float:left;
	}
.toggler span{
	display: inline-block;
	height:20px;
	width:20px;
	}
.visiblebox{
	float:left;
	display:inline-block;
	}
.togglebox{
	float:none;
	}
.float{
	width:100%;
	overflow: hidden;
	}
/*TOGGLEBOX END*/



/*TOGGLEBOX2*/
.togglecontainer h2{
	margin:0px;
	padding:0px;
	background-color:#000;
	color:#FFFFFF;
	}
/*TOGGLEBOX2 END*/


.shadowbox{
	background-color:#fff;
	-webkit-box-shadow:  0px 0px 5px 0px ;    
    box-shadow:  0px 0px 5px 0px ;
	margin:3%;
	}
.stext{
	padding:2%;
	}
.stext p{
	margin:0px !important;
	}
.slink{
	padding-left:2%;
	padding-right:2%;
	}
.shadowbox a{
	color:#4d515a;
	}