@charset "UTF-8";
/* CSS Document */
/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/2602c5");

  
@font-face {font-family: 'NeoSansStd-Bold';src: url('../webfont/2602C5_0_0.eot');src: url('../webfont/2602C5_0_0.eot?#iefix') format('embedded-opentype'),url('../webfont/2602C5_0_0.woff') format('woff'),url('../webfont/2602C5_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'NeoSansStd-Light';src: url('../webfont/2602C5_1_0.eot');src: url('../webfont/2602C5_1_0.eot?#iefix') format('embedded-opentype'),url('../webfont/2602C5_1_0.woff') format('woff'),url('../webfont/2602C5_1_0.ttf') format('truetype');}


/*reset*/
a, abbr, acronym, address, applet, article, aside, audio,
b, blockquote, big, body,
center, canvas, caption, cite, code, command,
datalist, dd, del, details, dfn, dl, div, dt, 
em, embed,
fieldset, figcaption, figure, font, footer, form, 
h1, h2, h3, h4, h5, h6, header, hgroup, html,
i, iframe, img, ins,
kbd, 
keygen,
label, legend, li, 
meter,
nav,
object, ol, output,
p, pre, progress,
q, 
s, samp, section, small, span, source, strike, strong, sub, sup,
table, tbody, tfoot, thead, th, tr, tdvideo, tt,
u, ul, 
var{
    background: transparent;
    border: 0 none;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
  }
dl,
menu,
ol,
ul {
    margin: 1em 0;
}

dd {
    margin: 0 0 0 20px; 
}

/**
 * Address paddings set differently in IE 6/7.
 */

menu,
ol,
ul {
    padding: 0 0 0 20px;
}
/**
 * Correct list images handled incorrectly in IE 7.
 */

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}

/*reset END*/
html{
  font-size:62.5%;
}

body{
  margin:0px;
  font-family: 'NeoSansStd-Light', sans-serif;
  color:#4c525c;
  font-weight:400;
  font-size: 1.4em;
   -webkit-font-smoothing: antialiased;
     font-smoothing: antialiased;
  }
  

#head{
  margin-bottom:0.5em;
  margin-left:auto;
  margin-right:auto;
  }

#lang{
  font-size:0.7em;
  overflow:hidden;
  }
#lvl2, #maincontainer{
  overflow:hidden;
  }
#main{
  background-color: #caced1;
  background: #caced1; /* Old browsers */
  background: -moz-linear-gradient(top,  #caced1 0%, #ffffff 14%, #ffffff 41%, #caced1 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#caced1), color-stop(14%,#ffffff), color-stop(41%,#ffffff), color-stop(100%,#caced1)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #caced1 0%,#ffffff 14%,#ffffff 41%,#caced1 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #caced1 0%,#ffffff 14%,#ffffff 41%,#caced1 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #caced1 0%,#ffffff 14%,#ffffff 41%,#caced1 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #caced1 0%,#ffffff 14%,#ffffff 41%,#caced1 100%); /* W3C */
  line-height: 1.5em;
}



#subnav{
  margin-left:auto;
  margin-right:auto;
  overflow:hidden;
  padding-top:0.5em;
  }
#address{
  margin-left:auto;
  margin-right:auto;
  }
#address p, #metanav{
  font-size:0.75em;
  overflow:hidden;
  }

#meta{
  margin-left:auto;
  margin-right:auto;
  }

#metanav{
  width:50%;
  float: left;
  }
#social{
  float:right;
  width:50%;
  text-align:right;
  }
#social p{
  margin:0px !important;
  font-size:0.75em;
  }

#bgimg{
  min-height:500px;
  background-position:center top;
  background-repeat: repeat-x;
  }
#content{
  margin-left:auto;
  margin-right:auto;
  padding-bottom:1%;
  }
#footer{
  overflow:hidden;
  margin-bottom:3em;
  }

  
a {
  color:#e7222b;
  text-decoration:none;
  }
#p7 #bgimg{
  background-image: none !important;
}

body#p7{
  background-image: url(../img/berge.png) !important;
  background-repeat: repeat-x;
  background-position: center top;
}
body#p7 #main{
  background-image: none !important;
  background-color: transparent !important;
  background: transparent !important;
}
body#p7 #content >DIV:first-child{
  margin-bottom: 200px;
}

body#p7 #content >DIV:first-child h1{
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}
#c65 p{
  margin: 0px !important;
  text-align: center;
  color: #fff;
  margin-top: -10px !important;
}

/*#lang ul{
  display: none !important;
}
*/
.col30_70 h2{
  margin-top: 0.5em;
}
#content ul{
  list-style-type: square;
}



/*fonts*/
body{
  font-weight:normal;
  font-style:normal;
  }
h1{
  font-size:4em;
  margin-top:1em;
  margin-bottom:0.4em;
  font-style:normal;
  font-weight:normal;
  line-height: 1em;
  }
h2{
  font-size:3em;
  margin-top:1em;
  margin-bottom:0.35em;
  font-style:normal;
  font-weight:normal;
  line-height: 1.25em;
  }
h3{
  font-size:2.5em;
  margin-top:1em;
  margin-bottom:0.3em;
  font-style:normal;
  font-weight:normal;
  line-height: 1em;
  }
h4{
  font-size:1.4em;
  margin-top:1em;
  margin-bottom:0.4em;
  font-style:normal;
  font-weight:normal;
  line-height: 1.25em;
  }
p{
  margin-top:1em;
  margin-bottom:1em;
  }
b{
  font-style:normal;
  font-family: 'NeoSansStd-Bold', sans-serif; 
  font-weight:normal;
  }

h1, h2, h3, h4{
  font-family: 'NeoSansStd-Light', sans-serif;
  color: #e7222b;
}
h1{
  text-transform: uppercase;
}
h1 b, h2 b, h3 b, h4 b{
  font-family: 'NeoSansStd-Bold', sans-serif; 
}

#p7 h1{
  color: #fff;
  text-align: center;
  font-size: 5em;
  margin-top: 0.5em;
}

#p7 h2{
  color: #4c525c;
  text-align: center;
  font-size: 1.55em;
}


/*fonts END*/


/*basetemplate*/
#basecontent{
  width:80%;
  max-width:61.25em;
  margin-left:auto;
  margin-right:auto;
  }
/*basetemplate END*/


/*Typo3 Fliud Image Settings*/
img, embed, object, video {
  max-width: 100%;
  height: auto;
  width: auto;
}
DIV.csc-textpic-above DIV.csc-textpic-imagewrap,
DIV.csc-textpic-below DIV.csc-textpic-imagewrap,
DIV.csc-textpic DIV.csc-textpic-imagewrap UL LI,
DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image {
  float: none;
}
DIV.csc-textpic, DIV.csc-textpic DIV.csc-textpic-imagerow, UL.csc-uploads LI {
    overflow: hidden;
}

.center{
  text-align:center;
  }
/*Typo3 Fliud Image Settings END*/

  


/*GoogleMaps Settings Responsive*/
.responsiveContainer {
    position: relative;
    padding-bottom: 60%;
    height: 0;
    overflow: hidden;
  }
   
.responsiveContainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }  
/*GoogleMaps Settings Responsive END*/  




.tx-felogin-pi1 legend{
display:none !important;
}
.tx-felogin-pi1 fieldset{
margin-top:10px;
}
