@charset "UTF-8";
/* CSS Document */


#lang ul ,#mainnav ul, #subnav ul, #metanav ul{
  list-style:none;
  padding:0px;
  }
#lang ul li, #mainnav ul li, #subnav ul li{
  float:left;
  margin-right:1em;
  }
#lang ul li a{
  text-decoration:none;
  color:#4d515a;
  }
.lang-1akt a, .lang-2akt a{
  color:#e7222b !important;
  }
#lang ul{
  margin: 0px;
  overflow: hidden;
  margin-top: 1em;
}  

#logo{
  float:left;
  width:18%;
  padding-left:2%;
  text-align:right;
  }  
#subnavicontainer{
  font-size:0.9em;
  }
#subnav ul li a{
  color:#4d515a;
  }
#subnav ul li.subnaviakt a{
  color:#e7222b;
  }

  
  
#mainnav{
  float:left;
  width:80%;
  }
#mainnav ul{
  padding-top:1.5em !important;
  }
#mainnav ul li a{
  color:#4d515a;
  }
#mainnav ul li.mainnaviakt a{
  color:#e7222b;
  }
#mainnav form{
  margin-top:0.5em;
  }
#mainnav select{
  font-size:18px;
  }
#p7 #mainnav ul li a{
  color: #fff !important;
}
#p7 #mainnav ul li.mainnaviakt a{
  color: #e7222b !important;
}
#p7 #lang ul li a{
  color: #fff;
}
  

  
#metanav ul li.first{
  margin-right:0em !important;
  }
#metanav ul li{
  float:left;
  margin-right:0.5em;
  }


