@charset "UTF-8";
/* CSS Document */

#head, #subnav, #address, #meta, #content{
	min-width:61.25em;
	max-width:75em;
} 

/*fce col30-70*/
.fce.col30_70{
	margin-bottom: 3%;
}
/*fce col30-70 END*/


/*fce col40-60*/
.col40_60 .sp1{
	width:40%;
	float:left;
	padding-right:1%;
	margin-top:3%!important
	}
.col40_60 .sp2{
	width:60%;
	float:left;
	padding-left:1%;
	}
/*fce col40-60 END*/




/* fonts*/
h1{
	font-size:4em;
	margin-top:1em;
	margin-bottom:0.4em;
	font-style:normal;
	font-weight:normal;
	line-height: 1.15em;
	}


/* fonts END*/