@charset "UTF-8";
/* CSS Document */

body{
	font-size: 4em;
}

/*fonts*/

h1{
	font-size: 2.45em;
	line-height: 1.15em;
}

h2{
	font-size: 2.00em;
	line-height: 1.15em;
}

#p7 h1{
	color: #fff;
	text-align: center;
	font-size: 1.75em;
	line-height: 1.75em;
}


#p7 h2{
	color: #4c525c;
	text-align: left;
	font-size: 1.25em;
	line-height: 1.35em;
}
/*fonts END*/


#head, #subnav, #address, #meta, #content{
	max-width:90%;
} 

#subnav{
	display: none;
}

#content{
	padding-top: 1%;
}
#mainnav select{
	font-size: 1em !important;
}

#metanav, #social{
	float: none;
	width: 100%;
	text-align: left;
}
#metanav ul{
overflow: hidden;
width: auto;
margin-left: auto;
margin-right: auto;
}
/*fce col2*/
.col2 > DIV{
	width:100%;
	float: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	}
.col2 .sp1{
	padding-right:0%;
	}
.col2 .sp2{
	padding-left:0%;
	}
/*fce col2 END*/



/*fce col4*/
.col4 > DIV{
	width:100%;
	float:none;
	}
.col4 .sp1{
	padding:0% !important;
	}
.col4 .sp2{
	padding:0% !important;
	padding-top:5%!important;
	}
.col4 .sp3{
	padding:0% !important;
	padding-top:5%!important;
	}
.col4 .sp4{
	padding:0% !important;
	padding-top:5%!important;
	padding-bottom:5%!important;

	}
	
.topimage img{
	min-width:100%;
	}
/*fce col4 END*/



/*fce col70-30*/
.col70_30 .sp1{
	width:100%;
	float:none;
	}
.col70_30 .sp2{
	width:100%;
	float:none;
	}
/*fce col70-30 END*/



/*fce col30-70*/
.col30_70 .sp1{
	width:100%;
	float:none;
	padding-top:10%!important;
	}
.col30_70 .sp2{
	width:100%;
	float:none;
	padding-bottom:5%!important;
	}
/*fce col30-70 END*/



/*fce col40-60*/
.col40_60 .sp1{
	width:100%;
	float:none;
	}
.col40_60 .sp2{
	width:100%;
	float:none;
	}
/*fce col40-60 END*/


/*fce col3*/
.col3 .sp1{
	width:100%;
	float:none;
	}
.col3 .sp2{
	width:100%;
	float:none;
	padding-top:10%;
	}
.col3 .sp3{
	width:100%;
	float:none;
	padding-top: 5%;

	}
/*fce col3 END*/	

