<noscript>###DEFAULT_IMAGE###</noscript>
<script type="text/javascript">
/* <![CDATA[ */
// local scope
(function(){

    // initialize global object only once
    // rtp_iQp stands for imgQueryProcessed
    if (typeof(rtp_iQp) == 'undefined') rtp_iQp = {};

    // Only proceeds if the current image has not already been rendered.
    if (!rtp_iQp[###ID###])
    {
        // Gets the current window width, if it hasn't already been defined.
        rtp_iQp.width = rtp_iQp.width || window.innerWidth;

        // Images per breakpoint and breakpoints per image/id
        var iQi = rtp_iQp[###ID###] =
        {
            id : ###ID###,
            imgs : ###IMAGES###,
            brpts : ###BREAKPOINTS###
        };

        // Identifies the first breakpoint which is less than the current window width.
        for (var i = 0, l = iQi.brpts.length; i < l; i += 1) {
            if(iQi.brpts[i] < rtp_iQp.width) {
                break;
            }
        }

        // The "correct" breakpoint is the last breakpoint to exceed window width. i.e. the breakpoint
        // from the previous for-loop-iteration (unless there was no iteration, i.e. i = 0).
        if (i > 0) {
            i -= 1;
        }

        // store and write out the selected image
        document.write(iQi.img = iQi.imgs[iQi.brpts[i]]);
    }
})();
/* ]]> */
</script>